<ng-container *ngIf="job">
  <div class="custom-job-container">

    <!--image-->
    <img [ngSrc]="job.companyLogo" width="100" height="100" [alt]="job.companyName">

    <div class="custom-container-without-star" [ngClass]="{'custom-container-with-star': showStar}">
      <!--title company and reference-->
      <div class="custom-content-container">
        <div>
          <h4 class="m-0">
            <a [routerLink]="['../detail', job.id]" class="custom-link">
              {{job.title}}
            </a>
          </h4>
        </div>
        <div>
          Company:
          <span [innerHTML]="job.companyName"></span>
          -
          Reference:
          <span [innerHTML]="job.reference"></span>
        </div>
      </div>

      <!--star-->
      <ng-container *ngIf="showStar">
        <div class="custom-star-container">
          <span (click)="manageFavorite()" class="icon-star" [appStarHighlight]="'yellow'" [isFavorite]="isFavorite" [id]="'star-' + job.id"></span>
        </div>
      </ng-container>
    </div>

  </div>
</ng-container>

